image:
  repository: tanishaart/complete-devops-project
  tag: ef7d95f
  pullPolicy: IfNotPresent
service: 
  type: ClusterIP
  port: 8080
ingress:
  enabled: false
serviceAccount:
  enabled: false
autoscaling:
  enabled: false
httpRoute:
  enabled: false

